name: Notificaci贸n a ntfy.sh

on:
  push:
    branches:
      - main

jobs:
  enviar-alerta:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout del c贸digo
        uses: actions/checkout@v3

      - name: Enviar notificaci贸n a ntfy.sh
        run: |
          curl -d "C贸digo subido a la rama main  davila" ntfy.sh/devops-itla
